# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# My Staff
cmake-build-debug
*.idea
.idea
*/.idea
.DS_Store
.vs/
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

########################################################################################################
##	This is an example .gitignore file for Vivado, please treat it as an example as 
##	it might not be complete. In addition, XAPP 1165 should be followed.
#########################################################################################################

###########################################################################
##	VIVADO
###########################################################################
#########
#Source files:
#########
#Do NOT ignore VHDL, Verilog, block diagrams or EDIF files.
!*.vhd
!*.v
!*.bd
!*.edif

#########
#IP files
#########
*.xci(www.spiritconsortium.org)
*.xci
*.dcp
*.vds
*.pb
#All bd comments and layout coordinates are stored within .ui
*.ui
*.ooc

#########
#System Generator
#########
*.mdl
*.slx
*.bxml

#########
#Simulation logic analyzer
#########
*.wcfg
*.coe

#########
#MIG
#########
*.prj
*.mem

#########
#Project files
#########
#XPR  +  *.XML ? XPR (Files are merged into a single XPR file for 2014.1 version)
#Do NOT ignore *.xpr files
!*.xpr
#Include *.xml files for 2013.4 or earlier version

#########
#Constraint files
#########
#Do NOT ignore *.xdc files
!*.xdc

#########
#TCL - files
#########
*.tcl

#########
#Journal - files
#########
*.jou

#########
#Reports
#########
*.rpt
*.vdi
